/* /* Set up, fonts, root variables) */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
	--title-font: "Source Sans 3";
	--body-font: "Merriweather";
	--h1: 48px;
	--bold: 800;
	--font-spacing: 30%;
	--h2: 30px;
	--h2-weight: 600;
	--background1: #ffffff;
	--primary-blue: #474695;
	--secondary-blue: #7ACEEC;
	--text-color: #000000;
	--p: 17px;
	--spacing: 1em;
	--margin: 8vw;
	--pullquote: 28px;
	--p-spacing:  3ch;
	--primary-green: #004d1d;
	--secondary-green: #a6e0bc;
	--primary-yellow: #e0b700;
	--secondary-yellow: #fcecca;
	--primary-red: #a60000;
	--secondary-red: #FFCCCB;
}

/* General formatting */

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background1);
	font-family: var(--title-font);
	position: relative;
	max-width: 100%
}

section {
	position: relative;
	margin-left: var(--margin);
	margin-right: var(--margin);
}

/* Navbar formatting */

nav:not(.menu){
		border-bottom: 4px solid;
		border-color: var(--primary-blue);
}

#hamburger {
	background-color: var(--primary-blue);
	color: var(--background1);
	border: 1px solid;
	border-color: var(--primary-blue);
	border-radius: 20px 20px 0px 0px;
	width: 64px;
	padding-bottom: calc(var(--spacing)/4);
	padding-top: calc(var(--spacing)/4);
	text-align: center;
	position: relative;
	top: 4px;
	left: 85vw;
	font-size: calc(var(--p)*1.5);
	z-index: 1;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	padding-top: calc(var(--spacing)*3);
	max-width: 100%;
	max-height: 96px;
	position: relative;
	overflow: hidden;
}

.navbar:hover {
	margin-top: calc(var(--spacing)/2);
}

.navbar > a {
	border: 3px solid;
	border-radius: 20px 20px 0px 0px;
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	padding-bottom: calc(var(--spacing)/4);
	padding-top: calc(var(--spacing)/4);
	font-size: calc(var(--p)*1.5);
	transition: all 0.2s;
	position: relative;
	top: 5px;
}

/* default colorway */
.navbar > a:not(.active1, .active2, .active3, .active4) {
	border-color: var(--primary-blue);
	background-color: var(--primary-blue);
	color: var(--background1);
}

/* hover colorways */
.navbar > a:hover {
	background: var(--secondary-blue);
	border-color: var(--primary-blue);
	color: var(--primary-blue);
}

.navbar > a:nth-of-type(2):hover {
	background: var(--secondary-red);
	border-color: var(--primary-red);
	color: var(--primary-red);
}
.navbar > a:nth-of-type(3):hover {
	background: var(--secondary-yellow);
	border-color: var(--primary-yellow);
	color: var(--primary-yellow);
}
.navbar > a:nth-of-type(4):hover {
	background: var(--secondary-green);
	border-color: var(--primary-green);
	color: var(--primary-green);
}

/* hoverstate general attributes */
.navbar > a:hover {
	border-top: 3px solid;
	border-left: 3px solid;
	border-right: 3px solid;
	border-radius: 20px 20px 0px 0px;
	padding-top: calc(var(--spacing)/5);
	padding-bottom: calc(var(--spacing)*1.5);
	font-weight: var(--h2-weight);
	max-height: 48px;
	position: relative;
	top: 10px;
}

/* active state colorways */
.active1, .active2, .active3, .active4 {
	font-weight: 700;
	font-size: calc(var(--p)*2.2);
	position: relative;
	top: 3px;
	z-index: -1;
}

.active1 {
	background: var(--secondary-blue);
	color: var(--primary-blue);
}

.active2 {
	background: var(--secondary-red);
	border-color: var(--primary-red);
	color: var(--primary-red);
}

.active3 {
	background: var(--secondary-yellow);
	border-color: var(--primary-yellow);
	color: var(--primary-yellow);
}

.active4 {
	background: var(--secondary-green);
	border-color: var(--primary-green);
	color: var(--primary-green);
}

/* font styles */

h1 {
	color: var(--secondary-blue);
	font-size: var(--h1);
	font-weight: var(--bold);
	letter-spacing: var(--font-spacing);
	padding-top: calc(var(--spacing)/2);
	padding-bottom: calc(var(--spacing)/4);
}

h2 {
	font-size: var(--h2);
	font-weight: var(--h2-weight);
	padding-top: calc(var(--spacing)/3);
	padding-bottom: calc(var(--spacing)/3);
	border-bottom: 4px dotted;
	border-top: 4px dotted;
	border-color: var(--secondary-blue);
	color: var(--primary-blue);
	background-color: var(--background1);
	position: sticky;
	top: 0;
}

p {
	font-family: var(--body-font);
	font-weight: 300;
	line-height: var(--p-spacing);
	color: var(--text-color);
	line-height: 1.6em;
}

p:first-of-type:not(.pullquote, .author, .footer) {
	margin-top: calc(var(--spacing)*3);
}

.dropcap::first-letter {
	font-size: 50px;
	float: left;
	margin-right: 0.1em;
	margin-top: 2px;
	line-height: 1;
}

p, ul {
	max-width: 65ch;
	font-size: var(--p);
	padding-bottom: calc(var(--spacing)*2);
}

ul {
	margin-left: 8vw;
}
li {
	font-family: var(--body-font);
	font-size: calc(var(--p)*1.2);
	list-style-type: "→";
	padding-left: 1em;
	list-style-position: outside;
	color: var(--primary-blue);
}

strong {
	font-weight: var(--bold);
}

em {
	font-style: italic;
}

footer {
	border-top: 3px solid;
	border-color: var(--primary-blue);
	color: var(--primary-blue);
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	padding-top: calc(var(--spacing)*4);
	padding-bottom: calc(var(--spacing)*5);
	padding-right: calc(var(--spacing)*2);
	padding-left: calc(var(--spacing)*2);
}

p.footer:nth-of-type(2) {
	display: none;
}
.footer {
	font-family: var(--title-font);
	font-size: var(--p);
	color: var(--primary-blue);
	font-weight: 600;
	padding-bottom: calc(var(--spacing)/6);
	text-align: center;
}

/* Class specifics */

.author {
	padding: calc(var(--spacing)/4);
	font-weight: var(--h2-weight);
	border-color: var(--secondary-blue);
	max-width: 100%;
	font-size: calc(var(--p)*1.2);
	padding-top: calc(var(--spacing)*3);
	text-align: right;
}

.pullquote {
	font-size: var(--pullquote);
	color: var(--primary-blue);
	text-align: right;
	border-top: 4px dotted;
	border-bottom: 4px dotted;
	border-color: var(--secondary-blue);
	padding: 1vh;
	margin-bottom: var(--spacing);
	margin-right: calc(var(--margin)*1.5);
	max-width: 70vw;
	position: relative;
	right: -10vw;
	z-index: -1;
}

.poem {
	margin-left: 8vw;
	margin-top: calc(var(--spacing)*2);
	border-top: 4px dotted;
	border-color: var(--secondary-blue);
}

.stanza {
	border-color: var(--primary-blue);
	padding-left: calc(var(--margin)/2);
}

.stanza:nth-of-type(odd) {
	border-left: 2px solid;
	border-color: var(--primary-blue);
	padding-left: calc(var(--margin)/2);
}

.stanza:nth-of-type(even) {
	text-align: right;
	border-right: 2px solid;
	border-color: var(--primary-blue);
	padding-right: calc(var(--margin)/2);
}

.separator {
	margin-top: calc(var(--spacing)*2);
	margin-left: 40vw;
}

.block {
	text-align: center;
	background-color: var(--secondary-yellow);
	padding-left: calc(var(--spacing)*1.5);
	padding-right: calc(var(--spacing)*1.5);
	padding-top: var(--spacing);
	padding-bottom: calc(var(--spacing)/1.5);
	border-radius: 15px;
	margin-bottom: calc(var(--spacing)*2);
}

.lastline2 {
	text-align: center;
}
.lastline3 {
	text-align: right;
}

/* Links that aren't the navbar */

#top-mobile, #top-desktop {
	color: var(--background1);
	background-color: var(--primary-blue);
	border: 2px solid;
	border-radius: 15px;
	border-color: var(--primary-blue);
	font-family: var(--title-font);
	text-align: center;
	padding-top: calc(var(--spacing)/4);
	transition: all 0.3s;
}

#top-mobile {
	font-size: calc(var(--p)*1.5);
	padding-bottom: calc(var(--spacing)*1.7);
	position: fixed;
	width: 40px;
	height: 5vh;
	bottom: 4vh;
	right: 4vw;
}

#top-desktop {
	font-size: calc(var(--p)*1.5);
	padding-bottom: calc(var(--spacing)*1.5);
	padding-left: calc(var(--spacing)/2);
	padding-right: calc(var(--spacing)/2);
	position: fixed;
	height: 5vh;
	bottom: 4vh;
	right: 3vw;
}

#top-mobile:active {
	background-color: var(--secondary-blue);
	color: var(--primary-blue);
}

#top-desktop:hover {
	font-size: calc(var(--p)*1.7);
	font-weight: 600;
	padding-top: calc(var(--spacing)/6);
}

.index-link {
	color: var(--primary-blue);
	text-decoration: underline;
	font-size: calc(var(--p)*1.3);
	vertical-align: middle;
	transition: all 0.3s;
}

.index-link:hover {
	color: var(--secondary-blue);
	text-decoration: underline;
	font-size: calc(var(--p)*1.5);
}

.embed-link {
	color: var(--primary-blue);
	text-decoration: underline;
	font-size: var(--p);
	transition: all 0.3s;

}

.embed-link:hover {
	color: var(--primary-yellow);
	text-decoration: underline;
	font-size: var(--p);
}


/* Navbar display toggle for fake hamburger & top button*/

@media screen and (min-width: 830px) {
	a:not(.embed-link, .index-link, #top-mobile, #top-desktop, #menu, #back) {
		font-size: calc(var(--p)*1.25);
		padding-left: calc(var(--spacing)/2);
		padding-right: calc(var(--spacing)/2);
	}
	a:not(.embed-link, .index-link, #top-mobile, #top-desktop, #menu, #back):hover {
		font-size: calc(var(--p)*1.5);
	}
}
@media screen and (min-width: 1250px) {
	a:not(.embed-link, .index-link, #top-mobile, #top-desktop, #menu, #back) {
		font-size: calc(var(--p)*1.5);
		padding-left: calc(var(--spacing)/2);
		padding-right: calc(var(--spacing)/2);
	}
	a:not(.embed-link, #top-mobile, #top-desktop, #menu, #back):hover {
		font-size: calc(var(--p)*1.75);
	}
}


@media screen and (max-width: 880px) {
	.navbar {
		display: none;
	}
	#top-desktop {
		display: none;
	}
}
@media screen and (min-width: 881px) {
	#mobile-nav {
		display: none;
	}
	.stanza:nth-of-type(even) {
		margin-left: 40vw;
	}
}

@media screen and (max-width: 950px) {
	#top-desktop {
		display: none;
	}
}

@media screen and (min-width: 951px) {
	#top-mobile {
		display: none;
	}
}

/* Media queries desktop sizes */

@media screen and (min-width: 650px) {
	h1 {
		font-size: calc(var(--h1)*2);
	}
	h2:not(.index) {
		font-size: calc(var(--h2)*1.5);
	}
	.pullquote {
		max-width: 50vw;
		right: -28vw;
	}
	.dropcap::first-letter {
		font-size: 50px;
		margin-top: 4px;
	}
	p.footer:nth-of-type(2) {
		display: inline;
	}
}

@media screen and (min-width: 950px) {
	.footer {
		font-size: calc(var(--p)*1.5);
	}
}
