:root {
	--font-family: "Source Sans 3";
	--h1: 110px;
	--bold: 800;
	--font-spacing: 30%;
	--h2: 80px;
	--h2-weight: 600;
	--background1: #ffffff;
	--primary-color: #474695;
	--secondary-color: #7ACEEC;
	--text-color: #000000;
	--p: 18px;
	--spacing: 1em;
	--margin: 8vw;
	--pullquote: 56px;
	--p-spacing:  3ch;
}

/* first link is broken right now??? */

/* .navbar {

} */

.navlink {
	border: 4px dotted;
	border-color: var(--secondary-color);
	border-radius: 30px;
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	padding-bottom: calc(var(--spacing)/4);
	padding-top: calc(var(--spacing)/4);
	font-size: 32px;
}

.navlink:hover {
	background-color: var(--secondary-color);
	font-weight: var(--h2-weight);
	font-size: 38px;

}

h1 {
	color: var(--secondary-color);
	border-top: 4px dotted;
	border-bottom: 4px dotted;
	border-color: var(--secondary-color);
}

.author {
	padding-top: calc(var(--spacing)/3);
	padding-bottom: var(--spacing);
	font-weight: var(--h2-weight);
}

h2 {
	border-top: 4px dotted;
	border-bottom: 4px dotted;
	border-color: var(--secondary-color);
	color: var(--primary-color);
}

p:first-of-type {
	padding-top: calc(var(--spacing)*3);
}

p {
	font-family: "Merriweather";
	font-weight: 300;
	line-height: var(--p-spacing);
}

ul {
	margin-left: 12vw;
}

/* taken out to sketch, will duplicate bullet otherwise */
/* li {
	list-style-type: "→";
	padding-left: 2em;
	list-style-position: outside;
} */

strong {
	font-weight: var(--bold);
}

em {
	font-style: italic;
}

.pullquote {
	color: var(--primary-color);
	text-align: right;
	border-top: 4px dotted;
	border-bottom: 4px dotted;
	border-color: var(--secondary-color);
	padding: 1vh;
	margin-bottom: var(--spacing);
	padding-top: calc(var(--spacing)/4);
}

#top {
	color: var(--secondary-color);
	background-color: var(--background1);
	border: 4px dotted;
	border-color: var(--secondary-color);
	border-radius: 20px;
	position: sticky;
	max-width: 30vw;
	max-height: 10vw;
	bottom: 2vh;
	left : 90vw;
	font-size: 88px;
}