:root {
	--font-family: "Spectral";
	--h1: 174px;
	--bold: 800;
	--font-spacing: 30%;
	--h2: 80px;
	--h2-weight: 600;
	--background1: #fff5ea;
	--primary-color: #000000;
	--secondary-color: #3f5936;
	--text-color: #000000;
	--p: 18px;
	--spacing: 1em;
	--margin: 8vw;
	--pullquote: 56px;
	--p-spacing:  3ch;
}

.pullquote + p {
	background-color: var(--secondary-color);
	color: var(--background1);
	margin-top: 0px;
}

section:nth-child(3) p {
	background-color: var(--secondary-color);
	color: var(--background1);
}

.pullquote {
	color: var(--background1);
	text-align: right;
	background-color: var(--secondary-color);
	padding: 1vh;
	margin-bottom: var(--spacing);
	margin-left: calc(var(--spacing)*5);
	border-radius: 20px 20px 0px 0px;
}